.App {
  text-align: center;
}

.contentWrapper{
    margin: auto;
    margin-top: 10px;
    max-width: 750px;
    background-color: red;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.currenciesTable {
    .currency {
      width: 250px;
    }
    .code {
      width: 50px;
    }
    .mid {
      width: 100px;
    }
}

.selectorTable label {
  float: left;
}

.currenciesSelector{
  height: 250px;
}

.currenciesWrapper{
  float: left;
}

.currenciesSelectorWrapper {
  float: right;
  overflow: auto;
  height: 500px;
}
